experimental/doc/onap-ext-api/serviceInventory/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/ONAPNBI/api/serviceInventory/v4/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/ONAPNBI/api/serviceInventory/v4/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: serviceInventory
                    Version: 4.0.0_inProgress
                    Owner: ONAPNBI
                    Generated on: 2019-03-12T16:45:37.288Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="eventType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ServiceCreationNotification"/>
         <xs:enumeration value="ServiceAttributeValueChangeNotification"/>
         <xs:enumeration value="ServiceRemoveNotification"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ErrorRepresentation" type="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public">This class is used to describe error.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public">This class is used to describe error.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Application related code (as defined in the API or from a common list)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Text that explains the reason for error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Text that provide more details and corrective actions related to the error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">http error code extension like 400-2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceError" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">url pointing to documentation describing the error</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The class type of a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">it provides a link to the schema describing a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Service" type="Service">
      <xs:annotation>
         <xs:documentation source="public">Instantiated service (service_instance) in AAI</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Service">
      <xs:annotation>
         <xs:documentation source="public">Instantiated service (service_instance) in AAI</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the service - Valued with service-instance-id</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the service
Not managed in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the service - Valued with service-instance-name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Service type - valued with 'service-instance'</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">State of the service.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Not used in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="serviceSpecification"
                     type="ServiceSpecificationRef"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A service specification reference  required to realize a ProductSpecification</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="characteristic"
                     type="ServiceCharacteristic"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of service characteristics i.e. name/value pairs that define the service characteristics</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="supportingResource"
                     type="SupportingResource"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of supporting resources
A supportingResource will be retrieved for each relationship of the relationship-list where related-link describe a vnf</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedPartyRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of related party references . A related party defines party or party role linked to a specific entity.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceSpecificationRef" type="ServiceSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">Service specification reference: ServiceSpecification of this service (catalog information)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ServiceSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">Service specification reference: ServiceSpecification of this service (catalog information)</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the service specification. valued to model-version-id</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the service specification.
not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the required service specification</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Service specification version.
Not managed in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Valued with 'ONAPservice'. We used this features to add following attribute: invariantUUID</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="invariantUUID" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @referredType - model-invariant-id</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceCharacteristic" type="ServiceCharacteristic">
      <xs:annotation>
         <xs:documentation source="public">A list of name value pairs that define the service characteristics
Not managed in Beijing release.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ServiceCharacteristic">
      <xs:annotation>
         <xs:documentation source="public">A list of name value pairs that define the service characteristics
Not managed in Beijing release.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Name of the characteristic
Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="valueType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Type of value for this characteristic.
Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" type="Value" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Value of the characteristic
Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SupportingResource" type="SupportingResource">
      <xs:annotation>
         <xs:documentation source="public">Supporting resource - A supportingResource will be retrieved for each relationship of the relationship-list where related-link describe a vnf</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SupportingResource">
      <xs:annotation>
         <xs:documentation source="public">Supporting resource - A supportingResource will be retrieved for each relationship of the relationship-list where related-link describe a vnf</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the supporting resource - Valued to vnf-id</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the supporting resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the supporting resource - Valued with vnf_-name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Valued with 'ONAP resource'. We used this features to add following attributes:
    status	
    modelInvariantId
   modelVersionId
   modelCustomisationId</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @referredType - valued with prov-status</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modelInvariantId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @referredType - valued with model-invariant-id</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modelVersionId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @referredType - valued with model-verson-id</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modelCustomisationId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @referredType - valued with model-customisation-id</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedPartyRef" type="RelatedPartyRef">
      <xs:annotation>
         <xs:documentation source="public">RelatedParty reference. A related party defines party or party role linked to a specific entity.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedPartyRef">
      <xs:annotation>
         <xs:documentation source="public">RelatedParty reference. A related party defines party or party role linked to a specific entity.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of a related party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of a related party.
Not filled in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Role played by the related party.
Filled with 'ONAPcustomer'</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@referredType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in the Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Value" type="Value">
      <xs:annotation>
         <xs:documentation source="public">Structure used to describe characteristic value.
Not managed in Beijing release.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Value">
      <xs:annotation>
         <xs:documentation source="public">Structure used to describe characteristic value.
Not managed in Beijing release.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="serviceCharacteristicValue" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ListRelatedPartyRef" type="ListRelatedPartyRef">
      <xs:annotation>
         <xs:documentation source="public">This class is used to structure list of service(s) retrieved</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ListRelatedPartyRef">
      <xs:annotation>
         <xs:documentation source="public">This class is used to structure list of service(s) retrieved</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of a related party</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Role played by the related party - only role “ONAPcustomer” is managed in Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ListServiceSpecificationRef" type="ListServiceSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">This class is used to structure list of service(s) retrieved</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ListServiceSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">This class is used to structure list of service(s) retrieved</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the service specification</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the required service specification</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ListService" type="ListService">
      <xs:annotation>
         <xs:documentation source="public">This class is used to structure list of service(s) retrieved</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ListService">
      <xs:annotation>
         <xs:documentation source="public">This class is used to structure list of service(s) retrieved</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the service</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the service</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="serviceSpecification"
                     type="ListServiceSpecificationRef"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A service specification reference  required to realize a ProductSpecification</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty" type="ListRelatedPartyRef" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Related Party to the service (only ONAP customer is managed)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceInventoryEvent" type="ServiceInventoryEvent">
      <xs:annotation>
         <xs:documentation source="public">Structure for a service inventory event notification</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ServiceInventoryEvent">
      <xs:annotation>
         <xs:documentation source="public">Structure for a service inventory event notification</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The Service Instance Id</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">A reference to the service inventory</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The name of the Service Instance</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The type of event, service-instance</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="state" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The state of the service instance</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty" type="RelatedPartyRef" minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Notification" type="Notification">
      <xs:annotation>
         <xs:documentation source="public">Notification structure for a service notification</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Notification">
      <xs:annotation>
         <xs:documentation source="public">Notification structure for a service notification</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="eventId" type="xs:string" minOccurs="1"/>
         <xs:element name="eventDate" type="xs:dateTime" minOccurs="1"/>
         <xs:element name="eventType" type="eventType" minOccurs="1"/>
         <xs:element name="event" type="ServiceInventoryEvent" minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
