experimental/doc/onap-ext-api/hub/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/ONAPNBI/api/hub/v4/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/ONAPNBI/api/hub/v4/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: hub
                    Version: 4.0.0_inProgress
                    Owner: ONAPNBI
                    Generated on: 2019-03-12T16:45:33.51Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:element name="ErrorDetail" type="ErrorDetail"/>
   <xs:complexType name="ErrorDetail">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Error" type="Error"/>
   <xs:complexType name="Error">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1"/>
         <xs:element name="message" type="xs:string" minOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
         <xs:element name="infoURL" type="xs:string" minOccurs="0"/>
         <xs:element name="details"
                     type="ErrorDetail"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="HubIn" type="HubIn">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="HubIn">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="query" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The query must have an eventType= information.\nOptionally a ? could be added to reduce hub.\nquery”:”eventType = ServiceOrderStateChangeNotification”&amp;serviceOrder.state=COMPLETED</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="callback" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">URL where notification must be send</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Hub" type="Hub">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Hub">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="1"/>
         <xs:element name="query" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">The query must have an eventType= information.\nOptionally a ? could be added to reduce hub.\nquery”:”eventType = ServiceOrderStateChangeNotification”&amp;serviceOrder.state=COMPLETED</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="callback" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">URL where notification must be send</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
