documentation/onap-ext-api/serviceCatalog/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
           xmlns="http://orange.com/ONAPNBI/api/serviceCatalog/v3/model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://orange.com/ONAPNBI/api/serviceCatalog/v3/model">
   <xs:annotation id="signature">
      <xs:appinfo>API Designer</xs:appinfo>
      <xs:documentation>Model: serviceCatalog
                    Version: 3.0.0_tag
                    Owner: ONAPNBI
                    Generated on: 2019-03-12T17:02:42.013Z
                    Generated by: Orange API Designer v2, model-v1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="LifecycleStatusValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NOT_CERTIFIED_CHECKOUT"/>
         <xs:enumeration value="NOT_CERTIFIED_CHECKIN"/>
         <xs:enumeration value="READY_FOR_CERTIFICATION"/>
         <xs:enumeration value="CERTIFICATION_IN_PROGRESS"/>
         <xs:enumeration value="CERTIFIED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DistributionStatus">
      <xs:restriction base="xs:string">
         <xs:enumeration value="DISTRIBUTION_NOT_APPROVED"/>
         <xs:enumeration value="DISTRIBUTION_APPROVED"/>
         <xs:enumeration value="DISTRIBUTED"/>
         <xs:enumeration value="DISTRIBUTION_REJECTED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ErrorRepresentation" type="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public">This class is used to describe error.
for nbi Beijing release we do not manage additional error for serviceCatalog</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ErrorRepresentation">
      <xs:annotation>
         <xs:documentation source="public">This class is used to describe error.
for nbi Beijing release we do not manage additional error for serviceCatalog</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="code" type="xs:int" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Application related code (as defined in the API or from a common list)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Text that explains the reason for error. This can be shown to a client user.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="message" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Text that provide more details and corrective actions related to the error. This can be shown to a client user</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">http error code extension like 400-2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceErrror" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">url pointing to documentation describing the error</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">The class type of a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">it provides a link to the schema describing a REST resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TimePeriod" type="TimePeriod">
      <xs:annotation>
         <xs:documentation source="public">A time period</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="TimePeriod">
      <xs:annotation>
         <xs:documentation source="public">A time period</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="startDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Start date and time of the period</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="endDateTime" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">End date and time of the period</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RelatedPartyRef" type="RelatedPartyRef">
      <xs:annotation>
         <xs:documentation source="public">Party linked to the service catalog.
in nbi we retrieve information about last updater of the service in SDC</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="RelatedPartyRef">
      <xs:annotation>
         <xs:documentation source="public">Party linked to the service catalog.
in nbi we retrieve information about last updater of the service in SDC</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the related party. Filled with lastUpdaterUserId</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="role" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Role payed by the related party
Only role 'lastUpdater' is retrieved in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the related party - Filled with lastUpdatedFullName</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceSpecification" type="ServiceSpecification">
      <xs:annotation>
         <xs:documentation source="public">ServiceSpecification is a class that offers characteristics to describe a type of service. Functionally, it acts as a template by which Services may be instantiated. By sharing the same specification, these services would therefore share the same set of characteristics.
the service information are retrieved in SDC</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ServiceSpecification">
      <xs:annotation>
         <xs:documentation source="public">ServiceSpecification is a class that offers characteristics to describe a type of service. Functionally, it acts as a template by which Services may be instantiated. By sharing the same specification, these services would therefore share the same set of characteristics.
the service information are retrieved in SDC</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the service specification. Filled with SDC Service uuid</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="href" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Reference of the service specification- not mapped in Beijing</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the service specification- Filled with SDC Service name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A narrative that explains in detail what the service specification is - Filled with SDC Service description</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Valued with 'ONAPservice'. We used this features to add following attributes:
invariantUUID
toscaModelURL
toscaResourceName
category (1)
subcategory (1)
distributionStatus</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not used for Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@baseType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not used for Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="invariantUUID" type="xs:string" minOccurs="1">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - invariantUUID</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="toscaModelURL" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - toscaModelURL</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="toscaResourceName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - toscaResourceName</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="category" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute - extended through @type - category
Please note that this attribute is managed in TMF - in future release we'll introduce category resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subcategory" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute - extended through @type - category
Please note that this attribute is managed in TMF - in future release we'll introduce category resourc</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="distributionStatus" type="DistributionStatus" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute - extended through @type - distributionStatus</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Service specification version - Filled with SDC Service version</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lifecycleStatus" type="LifecycleStatusValues" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Service Current status in the catalog - Filled with SDC Service life cycle state</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="targetServiceSchema"
                     type="TargetServiceSchemaRef"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Not used in Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="attachment"
                     type="Attachment"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of attachments concerning the service specification - Used to retrieve service artifacts</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relatedParty"
                     type="RelatedPartyRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of parties linked to the service specification - Used to retrieve lastUpdater informative</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resourceSpecification"
                     type="ResourceSpecificationRef"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of resource specification usable to deliver this service - used to retrieve resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="serviceSpecCharacteristic"
                     type="ServiceSpecCharacteristic"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">A list of characteristic features of the service specification</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceSpecCharacteristic" type="ServiceSpecCharacteristic">
      <xs:annotation>
         <xs:documentation source="public">A characteristic quality or distinctive feature of a ServiceSpecification. 
ServiceSpecCharacteristic are retrieved in the serviceTosca file in the topology_template section in the inputs section.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ServiceSpecCharacteristic">
      <xs:annotation>
         <xs:documentation source="public">A characteristic quality or distinctive feature of a ServiceSpecification. 
ServiceSpecCharacteristic are retrieved in the serviceTosca file in the topology_template section in the inputs section.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the characteristic - Filled with parameter_name</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A narrative that explains in detail what the characteristic is - Filled with parameter_description</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="valueType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A kind of value that the characteristic can take on, such as numeric, text and so forth - Filled with parameter_type</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Valued with: 'ONAPserviceCharacteristic'. We do not used this features in nbi Beijing release.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">An url pointing to type description - we do not use it in nbi Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="required" type="xs:boolean" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A parameter to define if the characteristic is mandatory - Filled from parameter_required – if not fielded by default ‘true’</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Status of the characteristic - filled with status_value</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="serviceSpecCharacteristicValue"
                     type="ServiceSpecCharacteristicValue"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="public">Value that can be assigned to a characteristic</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Attachment" type="Attachment">
      <xs:annotation>
         <xs:documentation source="public">An attachment is a file uses to describe the service.
In nbi we use attachment to retrieve ONAP artifacts.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Attachment">
      <xs:annotation>
         <xs:documentation source="public">An attachment is a file uses to describe the service.
In nbi we use attachment to retrieve ONAP artifacts.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the attachment - filled with artifactUUID.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the attachment - filled with artifactName</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Description of the attachment - filled with artifactDescription</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Valued with 'ONAPartifact'. We used this features to add following attributes: 
artifactLabel
artifactGroupType
artifactTimeout
artifactChecksum
artifactVersion
generatedFromUUID</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artifactLabel" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - artifactLabel</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artifactGroupType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - artifactGroupType</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artifactTimeout" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - artifactTimeout</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artifactChecksum" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - artifactChecksum</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artifactVersion" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - artifactVersion</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="generatedFromUUID" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - generatedFromUUID</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="url" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Uniform Resource Locator, is a web page address - filled with artifactURL</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="mimeType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Filled with artifactType</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ServiceSpecCharacteristicValue"
               type="ServiceSpecCharacteristicValue">
      <xs:annotation>
         <xs:documentation source="public">A number or text that can be assigned to a service specification characteristic.
ServiceSpecCharacteristicValue are retrieved in the service Tosca file</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ServiceSpecCharacteristicValue">
      <xs:annotation>
         <xs:documentation source="public">A number or text that can be assigned to a service specification characteristic.
ServiceSpecCharacteristicValue are retrieved in the service Tosca file</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="valueType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A kind of value that the characteristic can take on, such as numeric, text, and so forth
Retrieved in the Tosca in the topology_template section in the inputs section - parameter_type. 
We do not manage parameter_type= list or map for Beijing release</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="isDefault" type="xs:boolean" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Information calculated from parameter default in the Tosca file</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">A discrete value that the characteristic can take on</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ResourceSpecificationRef" type="ResourceSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">A list of resourceSpec identified to deliver the service.
for nbi we retrieve resource information available in service description (through SDC api) bu as well information retrieved in the TOSCA file.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ResourceSpecificationRef">
      <xs:annotation>
         <xs:documentation source="public">A list of resourceSpec identified to deliver the service.
for nbi we retrieve resource information available in service description (through SDC api) bu as well information retrieved in the TOSCA file.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="id" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Unique identifier of the resource specification - filled with resourceUUID</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="version" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Version for this resource specification - filled with resourceVersion</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Name of the resource specification - filled with resourceName</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="@type" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">This attribute allows to dynamically extends TMF class. Valued with: 'ONAPresource'. We used this features to add following attributes:
resourceInstanceName
resourceInvariantUUID
resourceType
modelCustomizationName
modelCustomizationId</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resourceInstanceName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - resourceInstanceName</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resourceInvariantUUID" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - resourceInvariantUUID</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resourceType" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - resoucreType</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modelCustomizationName" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - Retrieved in the TOSCA file : attribute name in topology_template/node_template for the resource</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modelCustomizationId" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="public">Additional attribute (not in the TMF API) - extended through @type - Retrieved in the TOSCA file : attribute customizationUUID in topology_template/node_template for the resource</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TargetServiceSchemaRef" type="TargetServiceSchemaRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="TargetServiceSchemaRef">
      <xs:annotation>
         <xs:documentation source="public"/>
      </xs:annotation>
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="@type" type="xs:string" minOccurs="1"/>
         <xs:element name="@schemaLocation" type="xs:string" minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
